<!DOCTYPE html>
<html>

<head>
  <title>Taco Recipes</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
  <h1>Taco Town 🌮</h1>

  <form action="/recipe" method="POST" class="buttons">
    <button type="submit" value="chicken" name="choice">🍗</button>
    <button type="submit" value="beef" name="choice">🥩</button>
    <button type="submit" value="fish" name="choice">🐟</button>
  </form>
  <div id="recipeContainer" class="hidden">
    
     <% if(!clicked){ %>
      <h2>Pick your favorite taco ingredient 👆</h2>
     <% }else{ %>
      <h2><%= recipes.name %></h2>
      <h3>Ingredients:</h3>

      <ul id="ingredientsList">
        <li><%= recipes.ingredients.protein.name %>, 
          <%= recipes.ingredients.protein.preparation %>
        </li>
        <li><%=recipes.ingredients.salsa.name%></li>
        
        <% recipes.ingredients.toppings.forEach(res => { %>
          <li><%= res.name %></li> 
          <li><%= res.quantity %></li> 
          <li><%= res.ingredients %></li>
        <% }); %>
        
      </ul>
      
     <%}%>
    

  </div>
</body>

</html>