<body >
    <%-include("partials/header")%>


    <% if(posts.length === 0){ %>
        <h1 class="homepage">CLick write to create your first post!</h1>
    <% }else{ %>

        <% posts.forEach(post => { %>
            <div class="each-post">
                <h1 class="each-title"><%= post.title %></h1>
                <p class="each-paragraph"><%= post.body %></p>
                <img src="<%= post.image %>" class="each-image">
            </div>
        <% }); %>
    <% } %>
   

    <a href="/write" class="homepage-link">Write</a>

</body>

<%-include("partials/footer")%>
</html>