<body>
    <%-include("partials/header")%>
    <div class="profile-page"></div>
        <% if(profileInfo.length === 0 || isEditing === true){ %>
        
            <form action="<%= profileInfo.length > 0 ? '/profile/update' : "/profile/submit" %>" 
                method="POST" class="profile1">

                <h2 class="profile-title">User Registration</h2>

                <div class="form-group">
                    <label>Profile Picture:</label>
                    <input type="url" id="url" name="url" placeholder="pfp"  
                    value="<%= profileInfo.length > 0 ? profileInfo[0].url : '' %>"
                    class="profile-picture">
                </div>

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" 
                    required minlength="3" placeholder="Enter username" 
                    class="profile-username"
                    value="<%= profileInfo.length > 0 ? profileInfo[0].username : '' %>">
                </div>

                <div class="form-group">
                    <label for="user-email">Country:</label>
                    <input type="text" id="user-country" name="country" 
                    required placeholder="NGN" class="profile-country"
                    value="<%= profileInfo.length > 0 ? profileInfo[0].country : '' %>">
                </div>

                <div class="form-group">
                    <label for="user-password">Date of Birth:</label>
                    <input type="date" id="user-dob" name="dob" 
                    required placeholder="••••••••" class="profile-dob"
                    value="<%= profileInfo.length > 0 ? profileInfo[0].dob : '' %>">
                </div>

                <!-- Submit Button -->
                <button type="submit" class="profile-create">
                    <%= profileInfo.length > 0 ? 'Save Changes' : 'Create Account' %>
                </button>
                
                <% if(isEditing){ %>
                    <a href="/profile">Cancel</a>
                <% } %>
            </form>
        <% }else{ %>
            <div class="created">
                <img src=" <%= profileInfo[0].url %>" class="created-image">
                <h1 class="created-name"><%= profileInfo[0].username %></h1>
                <h2 class="created-country"><%= profileInfo[0].country %></h2>
                <h2 class="created-dob"><%= profileInfo[0].dob %></h2>
            </div>

            <form action="/profile/edit" method="get" class="profile2">
                <button type="submit" class="update-profile">Update Profile</button>
            </form>
        <% } %>
    </div>

    

<%-include("partials/footer")%>
</body>
</html>